:root {
    --background: #0f1920;
    --accent-color: #de6a23;
    --active-color: #ffffff91;
    --basic-white: #fff;
    --main-font: Verdana, Arial, sans-serif;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    display: flex;
    padding: 20px 30px;
    background-color: var(--background);
    border-radius: 14px;
    justify-content: center;
}


.slider__frame {
    display: flex;
    flex-direction: column;

    max-width: 800px;
    width: calc(100% - 20px);
    height: auto;
    overflow: hidden;
}

.slider__images-wrapper {
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    height: fit-content;
}

.slider__images,
.text__container {
    margin: 0;
    padding: 0;

    width: 500%;
    height: auto;
    display: flex;

    list-style: none;
}

.slider__image {
    width: 100%;
    height: auto;
}


.slide,
.slider__text-item {
    display: flex;
    width: 20%;
}

.slide {
    transition: 1s;
}

.slider__text-item {
    transition: 0.3s
}


.slider__desc-wrapper {
    display: flex;
}

/* Navigation */
.navigation {
    display: flex;
    justify-content: right;

    margin: 0;
    padding: 0;

    width: 30%;
    overflow: 0;
    list-style: none;
}

.navigation__btn {
    position: relative;

    display: block;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;   
}

.navigation__item:last-child {
    margin-right: 10px;
}

.navigation__btn::after {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    content: '';
    width: 1rem;
    height: 1rem;
    background-color: var(--accent-color);
    border-radius: 50%;
    transition: 0.5s;
}

.navigation__btn:hover:after {
    background-color: var(--basic-white);
}


.text {
    height: 4rem;
    width: 70%;
    overflow: hidden;
}

.slider__text-item {
    font-family: var(--main-font);
    font-size: 1.5rem;
    color: var(--basic-white);
}

/* controls */
#radio1:checked~.slider__images-wrapper .slider__images .first,
#radio1:checked~.slider__desc-wrapper .text .text__container .first {
    margin-left: 0;
}

#radio2:checked~.slider__images-wrapper .slider__images .first,
#radio2:checked~.slider__desc-wrapper .text .text__container .first {
    margin-left: -20%;
}

#radio3:checked~.slider__images-wrapper .slider__images .first,
#radio3:checked~.slider__desc-wrapper .text .text__container .first {
    margin-left: -40%;
}

#radio4:checked~.slider__images-wrapper .slider__images .first,
#radio4:checked~.slider__desc-wrapper .text .text__container .first {
    margin-left: -60%;
}



/* Button - checked */
#radio1:checked~.slider__desc-wrapper .navigation .navigation__item .navigation__btn--1:after,
#radio2:checked~.slider__desc-wrapper .navigation .navigation__item .navigation__btn--2:after,
#radio3:checked~.slider__desc-wrapper .navigation .navigation__item .navigation__btn--3:after,
#radio4:checked~.slider__desc-wrapper .navigation .navigation__item .navigation__btn--4:after {
    background-color: transparent;
    border: 2px solid var(--accent-color);
    box-sizing: border-box;
}

/* Button - checked - hover */
#radio1:checked:hover~.slider__desc-wrapper .navigation .navigation__item .navigation__btn--1:after,
#radio2:checked:hover~.slider__desc-wrapper .navigation .navigation__item .navigation__btn--2:after,
#radio3:checked:hover~.slider__desc-wrapper .navigation .navigation__item .navigation__btn--3:after,
#radio4:checked:hover~.slider__desc-wrapper .navigation .navigation__item .navigation__btn--4:after {
    border-color: var(--basic-white);
}

/* Button - checked - active */
#radio1:checked:active~.slider__desc-wrapper .navigation .navigation__item .navigation__btn--1:after,
#radio2:checked:active~.slider__desc-wrapper .navigation .navigation__item .navigation__btn--2:after,
#radio3:checked:active~.slider__desc-wrapper .navigation .navigation__item .navigation__btn--3:after,
#radio4:checked:active~.slider__desc-wrapper .navigation .navigation__item .navigation__btn--4:after {
    border-color: var(--active-color);
}
