:root {
    --background: #0f1920;
    --accent-color: #de6a23;
    --active-color: #ffffff91;
    --basic-white: #fff;
    --main-font: Verdana, Arial, sans-serif;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

body {
    min-width: 320px;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, #37ecba, #72afd3);
}


.slider {
    display: flex;
    padding: 20px 30px;
    background-color: var(--background);
    border-radius: 14px;
    justify-content: center;

    box-shadow: 3.3px 6.6px 6.6px hsl(0deg 0% 0% / 0.40);
}

@media (max-width: 920px) {
    .slider {
        margin: auto 20px;
        padding: 10px 15px;
    }
}

@media (max-width: 420px) {
    .slider {
        margin: auto 10px;
        padding: 10px 5px;
    }
}


.slider__frame {
    display: flex;
    flex-direction: column;

    max-width: 800px;
    width: calc(100% - 20px);
    height: auto;
    overflow: hidden;
}

.slider__images-wrapper {
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    height: fit-content;
}

.slider__images,
.text__container {
    margin: 0;
    padding: 0;

    width: calc(100% * 4);
    height: auto;
    display: flex;

    list-style: none;
}

.slider__image {
    width: 100%;
    height: auto;
}


.slide,
.slider__text-item {
    display: flex;
    width: calc(100% / 4);
}

.slide {
    transition: 1s;
}

.slider__text-item {
    transition: 0.3s
}


.slider__desc-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 420px) {
    .slider__desc-wrapper {
        grid-template-columns: 1fr;
    }
}

/* Navigation */
.navigation {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    
    display: flex;
    justify-content: right;

    margin: 0;
    margin-left: auto;
    padding: 0;

    width: 40%;
    min-width: 170px;

    overflow: 0;
    list-style: none;

    background-color: var(--background);
}

@media (max-width: 420px) {
    .navigation {
        grid-column-start: 1;
        grid-column-end: 3;

        margin-right: auto;
        margin-bottom: 10px;
    }
}

.navigation__btn {
    position: relative;

    display: block;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;   
}

@media (max-width: 420px) {
    .navigation__btn {
        padding: 15px;
    }
}

.navigation__item:last-child {
    margin-right: 10px;
}

.navigation__btn::after {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    content: '';
    width: 1rem;
    height: 1rem;
    background-color: var(--accent-color);
    border-radius: 50%;
    transition: 0.5s;
}

@media (max-width: 420px) {
    .navigation__btn::after {
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 50%;
    }
}

.navigation__btn:hover:after {
    background-color: var(--basic-white);
}

.navigation__btn:active:after {
    background-color: var(--active-color);
}


/* Text */
.text {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;

    min-height: 4rem;
    overflow: hidden;
}

@media (max-width: 420px) {
    .text {
        grid-row-start: 2;
        grid-row-end: 3;
    }
}

.text__container {
    overflow: hidden;
}

.slider__text-item {
    display: flex;
    width: 25%;
    padding-right: 12.5%;
    box-sizing: border-box;

    font-family: var(--main-font);
    font-size: 1.5rem;
    color: var(--basic-white);
}

@media (max-width: 768px) {
    .slider__text-item {
        font-size: 1.2rem;
    }
}

@media (max-width: 420px) {
    .slider__text-item {
        padding-right: 0;
        font-size: 1rem;
    }
}

/* controls */
#radio1:checked~.slider__images-wrapper .slider__images .first,
#radio1:checked~.slider__desc-wrapper .text .text__container .first {
    margin-left: 0;
}

#radio2:checked~.slider__images-wrapper .slider__images .first,
#radio2:checked~.slider__desc-wrapper .text .text__container .first {
    margin-left: -25%;
}

#radio3:checked~.slider__images-wrapper .slider__images .first,
#radio3:checked~.slider__desc-wrapper .text .text__container .first {
    margin-left: -50%;
}

#radio4:checked~.slider__images-wrapper .slider__images .first,
#radio4:checked~.slider__desc-wrapper .text .text__container .first {
    margin-left: -75%;
}



/* Button - checked */
#radio1:checked~.slider__desc-wrapper .navigation .navigation__item .navigation__btn--1:after,
#radio2:checked~.slider__desc-wrapper .navigation .navigation__item .navigation__btn--2:after,
#radio3:checked~.slider__desc-wrapper .navigation .navigation__item .navigation__btn--3:after,
#radio4:checked~.slider__desc-wrapper .navigation .navigation__item .navigation__btn--4:after {
    background-color: transparent;
    border: 2px solid var(--accent-color);
    box-sizing: border-box;
}

/* Button - checked - hover */
#radio1:checked:hover~.slider__desc-wrapper .navigation .navigation__item .navigation__btn--1:after,
#radio2:checked:hover~.slider__desc-wrapper .navigation .navigation__item .navigation__btn--2:after,
#radio3:checked:hover~.slider__desc-wrapper .navigation .navigation__item .navigation__btn--3:after,
#radio4:checked:hover~.slider__desc-wrapper .navigation .navigation__item .navigation__btn--4:after {
    border-color: var(--basic-white);
}

/* Button - checked - active */
#radio1:checked:active~.slider__desc-wrapper .navigation .navigation__item .navigation__btn--1:after,
#radio2:checked:active~.slider__desc-wrapper .navigation .navigation__item .navigation__btn--2:after,
#radio3:checked:active~.slider__desc-wrapper .navigation .navigation__item .navigation__btn--3:after,
#radio4:checked:active~.slider__desc-wrapper .navigation .navigation__item .navigation__btn--4:after {
    border-color: var(--active-color);
}
